@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .infoText {
    @apply p-4 bg-gray-900/50 rounded-full max-w-[300px]
  }
  .chatRow {
    @apply rounded-lg px-5 py-3 text-sm flex items-center justify-center space-x-2 hover:bg-gray-700/70 cursor-pointer text-white transition-all duration-200 ease-out
  }
}

.animate-gradient {
  background-size: 200% 100%;
  animation: gradient 20s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-spinner {
  width: 200px;
  height: 200px;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}